.modal-window {
  position: absolute; 
  left: calc(50% - 175px);
  background-color: white;
  z-index: 101;

  width: 350px;
  padding: 1rem;

  transform: translateY(1000%);
  transition: all 400ms ease-in-out;
}

.modal-window.open {
  transform: translateY(50%);
}